.content {
	width: 100vw;
	padding: 20px;
	position: relative;

	&__header {
		width: 100%;

		&_title {
			display: flex;
			justify-content: space-around;
			border-bottom: 1px solid #000;
			padding: 10px;
			margin-bottom: 10px;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 15px;
		&_item {
			display: flex;
			justify-content: space-around;
		}
		&_null {
			align-self: center;
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		// position: absolute;
		// top: 25%;
		// left: 15%;
		z-index: 0;
		opacity: 0.1;
		& img {
			width: 300px;
			height: 300px;
		}
	}
}
